
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

// Toastr
@import "toastr";

.padded-horizontal {
  padding: 0 20px;
}
.padded {
  padding: 11px 20px;
}

.logo-img {
  height: 43px;
  width: auto;
}

a.navbar-brand {
  padding: 0 15px 0 0;
}

nav.navbar {
  min-height: 50px;
  margin-bottom: 0;
}

.panel-default > div.panel-heading{
  color: #fff;
}

.btn.btn-primary {
  background-color: #53c7aa;
  border-color: #38C7AA;
}

div.container {
  width: 100%;
}

// search bar
.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}

.input-group-btn .btn-group {
  display: flex !important;
}

.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}

.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

  .dropdown.dropdown-lg {
    position: static !important;
  }

  .dropdown-menu.dropdown-menu-right{
    margin-top: 12px!important;
    right: -15px;
  }

.search-wrapper select,
.search-wrapper .form-control,
.search-wrapper .input-group,
.search-wrapper .input-group-addon,
.search-wrapper .input-group-btn,
.search-wrapper .btn{
  border: none !important;
  box-shadow: none !important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  -webkit-appearance: none!important;
  border-radius: 0!important;
}

.btn.border-left {
  border-left: 1px solid lightgrey!important;
  height: 36px;
}

.search-wrapper .input-group-addon {
  border: none;
  background-color: #fff;
}

.navbar.navbar-default.navbar-static-top {
  border-bottom: none;
}

.search-holder {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #53c7aa;
}

select.no-radius {
  border: none;
}

.select-wrapper {
  border-radius: 0;
}

.dropdown.dropdown-lg,
.btn-dark {
  width: 100%;
}

.btn-dark, .btn-dark:hover, .btn-dark:active, .btn-dark:focus {
  background-color: #1EA785!important;
  color: #fff!important;
}

@media (max-width: 1200px) {
  .col-lg-5 {
    margin-bottom: 20px;
  }
}

.search-wrapper .list-group-item {
  margin-bottom: 20px;
  padding: 30px;
}

.cover-photo {
  width: 100%;
  height: auto;
}

.results-count {
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgray;

}

.main-content {
  background-color: #fff;
}

.bookmark {
  font-size: 25px;
}

.listing-content h4 {
  margin-top: 0;
}

.align-center {
  text-align: center;
}

.display-block {
  display: block;
}

.padded-vertically {
  padding-top: 40px;
  padding-bottom: 20px;
}

.border-bottom {
  padding-bottom: 40px;
  border-bottom: 1px solid lightgray;
}

.button-checkbox {
  //display: inline-block;
  //margin-right: 20px;

}

.button-checkbox button.button-checkbox-element {
  width: 100%;
  border: 1px solid #1EA785!important;
}

.button-checkbox button.button-checkbox-element:hover,
.button-checkbox button.button-checkbox-element:checked,
.button-checkbox button.button-checkbox-element:active,
.button-checkbox button.button-checkbox-element:active:focus
{
  border: 1px solid #1EA785 !important;
  box-shadow: none!important;
  background-color: #1EA785 !important;
}

input.faChkRnd, input.faChkSqr {
  visibility: hidden;
}

input.faChkRnd:checked:after, input.faChkRnd:after,
input.faChkSqr:checked:after, input.faChkSqr:after {
  visibility: visible;
  font-family: FontAwesome;
  font-size: 25px;
  height: 17px;
  width: 17px;
  position: relative;
  top: -3px;
  left: 0px;
  background-color: #FFF;
  display: inline-block;
}

input.faChkRnd:checked:after {
  content: '\f058';
}

input.faChkRnd:after {
  content: '\f10c';
}

input.faChkSqr:checked:after {
  content: '\f14a';
}

input.faChkSqr:after {
  content: '\f096';
}

.custom-checkbox {
  width: 23px;
  margin-top: 0;
  height: 23px;
  line-height: 39px!important;
}

.custom-label {
  margin-left: 10px;
  margin-bottom: 0;
  line-height: 34px;
}

.with-border, #custom-input {
  border: 1px solid lightgray !important;
}

.with-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}